
.indicator {
  display: flex;
  height: 5px;
  width: inherit;
  margin-top: 5px;

  .stripe {
    display: inline-block;
    height: 100%;
    width: 31.333%;
    margin-left: 1%;
    margin-right: 1%;
  }

  &.no-strength {
    .stripe {
      background: grey;
    }
  }

  &.too-short {
    .stripe {
      background: red;
    }
  }

  &.easy {
    .stripe{
      background: grey;
    }

    .stripe:first-of-type {
      background: red;
    }
  }
  &.medium {
    .stripe{
      background: grey;
    }

    .stripe:nth-of-type(-n +2) {
      background: yellow;
    }
  }
  &.strong {
    .stripe{
      background: green;
    }
  }
}
